[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

ipython = "*"
"pytest-aiohttp" = "*"
"flake8" = "*"
"pytest-cov" = "*"



[packages]

aiohttp = "*"
"aiohttp-jinja2" = "*"
distance = "*"


[requires]
python_version = "3.6"